body {
	display: block;
	font-family: Serif, Times New Roman, Arial;
	background-color: #cdbfb1;
	margin: 1%;
}
/* Links*/

a {
	color: #f7f3ee;
	text-decoration: none;
}
a.external {
	color: #8c9086;
	text-decoration: none;
}
/* Header Styles */

h1 {
	display: block;
	color: #8f8681;
	font-family: Montserrat, Helvetica, sans-serif;
	text-align: center;
	font-size: 300%;
	margin: 0px;
	padding: 30px;
	background-color: #f5f1ea;
	font-weight: bold;
}

h2 {
	font-family: Courier New, Helvetica, sans-serif;
	color: #f7f3ee;
	text-align: center;
	font-size: 30px;
	font-weight: normal
}

h3 {
	display: block;
	color: #74776e;
	font-family: Montserrat, Helvetica, sans-serif;
	text-align: right;
	font-size: 20px;
	margin-bottom: 15px;
	margin-top:20px;
	margin-right: 20%;
	margin-left: 20%;
	font-weight: bold;
}

h4 {
	display: block;
	color: #8f8681;
	font-family: Courier New, Helvetica, sans-serif;
	text-align: right;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20%;
	margin-right: 20%;
	padding: 0px;
	font-weight: bold;
}

/* Paragraph Styles */

p {
	display: block;
	color: #514b48;
	text-align: justify;
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 20%;
	margin-right: 20%;
	margin-inline-start: 20%;
}

p.dates {
	color: #514b48;
	text-align: right;
	font-size: 16px;
	margin-top: 2px;
	margin-bottom: 15px;
	margin-left: 20%;
	margin-right: 20%;
	font-style: italic;
}

/* Navigation Bar */
ul.nav {
	list-style-type: none;
	margin: 0px;
	padding: 15px;
	background-color: #8f8681;
	text-align: center;
	color: #1f2e2e;
}

li.nav {
	display: inline;
	font-family: Montserrat, Helvetica, sans-serif;
	margin: 20px;
}

/* Reference List Style */

ul.basic {
	color: #514b48;
	text-align: justify;
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 20%;
	margin-right: 20%;
	padding-inline-start: 10px;
	list-style-type: square;
}
li.basic {
	margin: 2px;  
}

